@charset "UTF-8";

body {
	background-color: #E7F2F8;
	margin: 0px; /*상하좌우 바깥여백*/
	padding: 0px; /*상하좌우 안여백*/
	font-size: 0.7em;
	line-height: 1.2em;
	color: #333; /*#333 16진수 색상코드는 #333333을 줄여서 표현*/
}

#logo {
	float: left; /*왼쪽에 배치*/
	width: 60px;
	margin: 17px 0px 0px 100px; /*바깥 위,오른쪽,아래,왼 여백 지정*/
}

#top {
	float: right;
	margin: 30px 100px 0px 0px;
}

#login {
	background-color: #FFC72C;
	width: 100%;
	height: 80px;
	word-spacing: 5px; /*단어사이 간격*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.clear {
	clear: both; /*float속성을 제거함으로써 잘못된 ui적용을 막아줌*/
}

#login a {
	text-decoration: none;
	color: #A6A6A6;
}

#login a:hover {
	color: #FFFFFF;
}

#option {
	background-color: #FFFFFF;
	height: 60px;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.dep2 {
	display: none;
}

.dep1>li {
	display: inline-block;
	width: 120px;
	background: white;
	font-family: Verdana, Geneva, sans-serif; /*글꼴을 지정*/
	font-size: 13px;
	text-align: center;
	font-weight: 600;
	margin: 18px 0px 0px 85px;
	vertical-align: top; /*메인 메뉴 상단 고정*/
}

.dep1>li:hover>.dep2 { /* 메인 메늉 마우스를 올리면 서브 메뉴를 볼 수 있다.*/
	display: block;
}

.dep1>li>a {
	color: gray;
	display: block;
	padding: 8px;
}

.dep1>li>a:hover { /*마우스 오버시 css효과*/
	background-image: url(../resources/image/blue.gif);
	background-repeat: repeat-x; /*x축 수평으로 반복*/
	background-position: bottom;
	color: black;
} /*마우스 오버시 이미지가 밑줄 선으로 표시*/
.dep2>li {
	margin-top: 25px;
}

