@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
.wrap{
	width:100%;
}


/*메뉴버튼*/
.menu_button{
	width:100%;
	display: inline-block;
}

/*메가박스 하위 리스트*/
.dep1 {
	list-style:none;
	position:absolute;
	height:40px;
	width:1200px;
	left:260px;
	top:100px;
	color: black;
	
}

.dep1 li {
  float: left;
  list-style:none;
  position: relative;
  z-index: 10;
}
.dep1 li:hover { background: white; }
.dep1 li:hover>a { color: #6E85B2; }
.dep1 a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
.dep1 ul {
  background: white;
  border: 1px solid silver;
  display: none;
  padding: 0;
  position: absolute;
  left: 0;
  top: 100%;
  width: 150px;
}
.dep1 ul li { float: none; }
.dep1 ul li:hover { background: #ddd; }
.dep1 ul li:hover a { color: black; }
.dep1 ul a { color: black; }
.dep1 ul ul { left: 100%; top: 0; }

.menu_button .dep1 > li{
	background:white;
	font-size:15px;
}

/*슬라이드부분*/
.section input[id*="slide"]{
	display:none;
}
.section .slidewrap{
	position:absolute;
	top:140px;
	width:100%;
	height:800px;
	margin:0 auto;
}
.section .slidelist{
	white-space:nowrap;/*옆으로 연속되게함*/
	font-size:0;
	overflow:hidden;/*section을 넘어가는 slidelist부분을 안보이게 처리*/
	position:relative;
}
.section .slidelist > li{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:700px;
	transition:all .5s; /*이걸로 빠르기조절*/
}
.section .slidelist > li > a{
	display:block;
	position:relative;
}
.section .slidelist > li > a img{
	width:100%;
}
.section .slidelist label{/*옆넘김버튼*/
	position:absolute;
	z-index:10;
	top:50%;
	transform:translateY(-50%);
	padding:50px;
	cursor:pointer;
}
.section .slidelist .left{
	left:30px;
	background:url('./resources/image/left.png')center center / 100% no-repeat;
}
.section .slidelist .right{
	right:30px;
	background:url('./resources/image/right.png')center center / 100% no-repeat;
}
.section [id="slide01"]:checked ~ .slidewrap .slidelist > li{
	transform:translateX(0%);
}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li{
	transform:translateX(-100%);
}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li{
	transform:translateX(-200%);
}
.section .slide-control [class*="control"] {
	display:none;
}
.section [id="slide01"]:checked ~ .slidewrap .control01{
	display:block;
}
.section [id="slide02"]:checked ~ .slidewrap .control02{
	display:block;
}
.section [id="slide03"]:checked ~ .slidewrap .control03{
	display:block;
}

/*검색 부분*/
.middle{
	width:100%;
	height:2700px;
}/*이거 높이로 중간부분 높이 조정*/

.search_area{
	position:absolute;
 	width:1200px; 
 	height:300px; 
 	top:800px; 
 	left:285px; 
}
.search_area .search_box{
	position:absolute;
	width:1140px;
	height:260px;
	padding:30px 30px 10px 30px;
	border: 1px solid #ddd;
    background: #fff;
    z-index: 2;
}
.search_box_title{
	line-height: 1;
    font-size: 24px;
    color: black;
	margin_bottom:30px;
}
/*검색 div 왼쪽부분*/
.item{
	width: 50%;
    margin: 0;
    box-sizing: border-box;
    clear:both;
}
.in{
    position: relative;
    width: 100%;
    display: inline-block;
}
.in .item_title{
	display: block;
	position:absolute;
    padding-top:25px;
	width:100%;
	height:33px;
    font-size: 16px;
}
.in .search_city{
	padding: 0 100px 0 20px;
	position:absolute;
	top:53px;
}
input[type=text]{
	height: 42px;
	width:446px;
}
.in .btn_city{
	position: absolute;
    bottom: 0;
	left:469px;
	top:53px;
    width: 100px;
    height: 45px;
    background: transparent;
    font-size: 14px;
    text-decoration: underline;
    line-height: 45px;
}
/*검색div 오른쪽부분*/
.item2{
	width: 50%;
    margin: 0;
    box-sizing: border-box;
    float:right;
}
.in2{
    position: relative;
    width: 100%;
    display: inline-block;
    padding-left:25px;
}
.in2 .cal_title{
	display: block;
	position:absolute;
    padding-top:2px;
	width:50%;
	height:33px;
    font-size: 16px;
}
.cal_select{
	position:absolute;
	top:32px;
	padding:0 25px;
}
.btn_search{
	position:absolute;
	top:200px;
	left:1040px;
	background: transparent;
    font-size: 14px;
    width:85px;
    line-height: 35px;
}
.search_box_bottom{
	position:absolute;
	width: 1145px;
    border-bottom: none;
    border-top: 1px solid #ddd;
    top:265px;
}
.cal_cont{
	padding: 0 100px 0 20px;
	position:absolute;
	top:32px;
}
.cal_button{
	position:absolute;
	top:35px;
	left:533px;
	background: transparent;
    font-size: 14px;
    width:60px;
    line-height: 35px;
}
/*중단 메뉴버튼부분*/
.tab_content {
	text-align:center;font-size:0;
	position:relative;
	top:1025px;
	margin:75px 75px 75px 75px;
}
input[type="radio"] {
	display:none;
} /* input을 안보이게 처리 */
input[type="radio"] + label {
	display:inline-block;padding:20px;background:#f5f5f5;color:#999;font-size:14px;cursor:pointer;
} /* 버튼 공통 속성 */
input[type="radio"]:checked + label {
	background:#999;color:#000;
} /* 선택된 버튼속성 */

.conbox {
	height:600px;
	background:#999;
	margin:0 20px;
	display:none;
	text-align:left;
	font-size:12px;
	padding:20px;
	box-sizing:border-box;
} /* 컨텐츠박스 공통 속성 */
input[id="tab01"]:checked ~ .con1 {
	display:block;
} /* 인풋에 체크가 해당 요소보이게 설정 */
input[id="tab02"]:checked ~ .con2 {
	display:block;
}
input[id="tab03"]:checked ~ .con3 {
	display:block;
}

/*하단 호버 이미지부분*/
.img_box{
	position:relative;
	top:1000px;
	margin:90px 90px 90px 90px;
}
.img_wrapper>h1{
	font-size:30px;
	text-align:center;
	margin-bottom:30px;
}
figure{
	width:100%;
	position:relative;
	overflow:hidden;
}
figure::before{
	content:"";
	background:rgb(44,62,80, .3);
	position:absolute;
	z-index:2;
	transition:all .7s ease-out;
}
figure img{
	width:100%;
	transform:scale(1);
	transition:all .7s ease-out;
	display:block;
}
figure figcaption{
	position:absolute;
	bottom:0;
	z-index:2;
	padding:30px;
	text-align:left;
}
figure .title{
	fot-size:26px;
	color:#fff;
	transform:translateY(20px);
	transition:all .7s ease-out;
}
figure .con{
	font-size:20px;
	color:#fff;
	transform:translateY(20px);
	opacity:0;
	transition:all .7s ease-out;
}
figure::before {opacity:0;}
figure:hover img{transform:scale(1.1);}
figure:hover .title{transform:translateY(0);}
figure:hover .con{transform:translateY(0); opacity:1;}

.footer_box{
	position:relative;
	width:100%;
	height:400px;
}
.header{
	margin-left:95px;
	margin-right:95px;
}