@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
.wrap{
	width:100%;
}
.member{

}
.mem_ul{
	list-style:none;
	position:absolute;
	width:1200px;
	left:285px;
}
.mem_ul >li{
	height:48px;
	float:right;
	margin-right:20px;
}
.mem_ul >li >a{
	font-size: 12px;
    letter-spacing: -.3px;
}

a:link { color:black; text-decoration: none;}  
a:visited { color:black; text-decoration: none;} 
a:hover { color:black; text-decoration: none;}
a:active { color:black; text-decoration: none;}
 /* 여기까지가 로그인 회원가입 고객센터 */
 
 /*로고, 예약확인, 마이메뉴 부분*/
.mem_private{
	list-style:none;
	position:absolute;
	width:100%;
	left:1115px;
	top:10px;
}
.mem_private >li{
	width:50px;
}
.mem_private >li >a{
	font-size: 12px;
    letter-spacing: -.3px;
} 
.mem_private .mymenu{
	position:absolute;
	top:-10px;
	left:-40px;
}
.mem_private .reservation{
	position:absolute;
	left:25px;
	top:-12px;
}
.menu_bar{
	position:absolute;
	top:50px;
	left:285px;
}
/*로고, 예약확인, 마이메뉴 부분 끝*/

/*메뉴버튼*/
.menu_button{
	width:100%;
}

.dep2{
	list-style:none;
}
/*메가박스 하위 리스트*/
.dep1 {
	list-style:none;
	position:absolute;
	height:40px;
	width:1200px;
	left:285px;
	top:100px;
}
.dep1_sub{
	float:left;
	height:40px;
	padding:0 10px;
	font-size:14px;
}
.title{/*gray*/
	position: absolute;
    left: 0;
    width: 100%;
    padding-left:30px;
    padding-top:25px;
    background-color:gray;
    height:400px;
    z-index:1;
}
.title_box_left{/*blue*/
	position:absolute;
	width: 236px;
    line-height: 1;
    font-size: 26px;
    color: black;
    letter-spacing: -0.05em;
    height:371px;
}

/*green*/
.area{
	position:relative;
}
/*yellow*/
.area_double{
	position:absolute;
	left:236px;
	width:367px;
	height:371px;
}

.area_triple{
	position:absolute;
	left:602px;
	width:367px;
	height:371px;
}
.menu_button .dep1 > li{
	background:white;
	font-size:15px;
}

.menu_button .dep1 a:hover ~.title {
	transition-delay:0s;
	visibility:visible;
}

.menu_button .dep1 .dep1_sub .title{
	transition:all 0s ease 1s;
	visibility:hidden;
}

/*슬라이드부분*/
.section input[id*="slide"]{
	display:none;
}
.section .slidewrap{
	position:absolute;
	top:140px;
	width:100%;
	height:800px;
	margin:0 auto;
}
.section .slidelist{
	white-space:nowrap;/*옆으로 연속되게함*/
	font-size:0;
	overflow:hidden;/*section을 넘어가는 slidelist부분을 안보이게 처리*/
	position:relative;
}
.section .slidelist > li{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:700px;
	transition:all .5s; /*이걸로 빠르기조절*/
}
.section .slidelist > li > a{
	display:block;
	position:relative;
}
.section .slidelist > li > a img{
	width:100%;
}
.section .slidelist label{/*옆넘김버튼*/
	position:absolute;
	z-index:10;
	top:50%;
	transform:translateY(-50%);
	padding:50px;
	cursor:pointer;
}
.section .slidelist .left{
	left:30px;
	background:url('./resources/image/left.png')center center / 100% no-repeat;
}
.section .slidelist .right{
	right:30px;
	background:url('./resources/image/right.png')center center / 100% no-repeat;
}
.section [id="slide01"]:checked ~ .slidewrap .slidelist > li{
	transform:translateX(0%);
}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li{
	transform:translateX(-100%);
}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li{
	transform:translateX(-200%);
}
.section .slide-control [class*="control"] {
	display:none;
}
.section [id="slide01"]:checked ~ .slidewrap .control01{
	display:block;
}
.section [id="slide02"]:checked ~ .slidewrap .control02{
	display:block;
}
.section [id="slide03"]:checked ~ .slidewrap .control03{
	display:block;
}

/*검색 부분*/
.search_area{
	position:absolute;
 	width:1200px; 
 	height:300px; 
 	top:800px; 
 	left:285px; 
}
.search_area .search_box{
	position:absolute;
	width:1140px;
	height:260px;
	padding:30px 30px 10px 30px;
	border: 1px solid #ddd;
    background: #fff;
    z-index: 2;
}
.search_box_title{
	line-height: 1;
    font-size: 24px;
    color: black;
	margin_bottom:30px;
}
/*검색 div 왼쪽부분*/
.item{
	width: 50%;
    margin: 0;
    box-sizing: border-box;
    clear:both;
}
.in{
    position: relative;
    width: 100%;
    display: inline-block;
}
.in .item_title{
	display: block;
	position:absolute;
    padding-top:25px;
	width:100%;
	height:33px;
    font-size: 16px;
}
.in .search_city{
	padding: 0 100px 0 20px;
	position:absolute;
	top:53px;
}
input[type=text]{
	height: 42px;
	width:446px;
}
.in .btn_city{
	position: absolute;
    bottom: 0;
	left:469px;
	top:53px;
    width: 100px;
    height: 45px;
    background: transparent;
    font-size: 14px;
    text-decoration: underline;
    line-height: 45px;
}
/*검색div 오른쪽부분*/
.item2{
	width: 50%;
    margin: 0;
    box-sizing: border-box;
    float:right;
}
.in2{
    position: relative;
    width: 100%;
    display: inline-block;
    padding-left:25px;
}
.in2 .cal_title{
	display: block;
	position:absolute;
    padding-top:2px;
	width:50%;
	height:33px;
    font-size: 16px;
}
.cal_select{
	position:absolute;
	top:32px;
	padding:0 25px;
}
.btn_search{
	position:absolute;
	top:200px;
	left:1040px;
	background: transparent;
    font-size: 14px;
    width:85px;
    line-height: 35px;
}
.search_box_bottom{
	position:absolute;
	width: 1145px;
    border-bottom: none;
    border-top: 1px solid #ddd;
    top:265px;
}
.cal_cont{
	padding: 0 100px 0 20px;
	position:absolute;
	top:32px;
}
.cal_button{
	position:absolute;
	top:35px;
	left:533px;
	background: transparent;
    font-size: 14px;
    width:60px;
    line-height: 35px;
}