@Charset "UTF-8";
*{
	margin:0px;
}
.wrap{
	position:relative;
	top:175px;
	height:730px;
}
.section input[id*="slide"]{
	display:none;
}
.section .slidewrap{
	position:absolute;
	width:100%;
	height:600px;
	margin:0 auto;
	z-index:0;
}
.section .slidelist{
	white-space:nowrap;/*옆으로 연속되게함*/
	font-size:0;
	overflow:hidden;/*section을 넘어가는 slidelist부분을 안보이게 처리*/
	position:relative;
	padding:0px 0px 0px 0px;
}
.section .slidelist > li{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:550px;
	transition:all .5s; /*이걸로 빠르기조절*/
}
.section .slidelist > li > a{
	display:block;
	position:relative;
}
.section .slidelist > li > a img{
	width:100%;
}
.section .slidelist label{/*옆넘김버튼*/
	position:absolute;
	z-index:10;
	top:50%;
	transform:translateY(-50%);
	padding:50px;
	cursor:pointer;
}
.section .slidelist .left{
	left:30px;
	background:url('../image/left.png')center center / 100% no-repeat;
}
.section .slidelist .right{
	right:30px;
	background:url('../image/right.png')center center / 100% no-repeat;
}
.section [id="slide01"]:checked ~ .slidewrap .slidelist > li{
	transform:translateX(0%);
}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li{
	transform:translateX(-100%);
}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li{
	transform:translateX(-200%);
}
.section .slide-control [class*="control"] {
	display:none;
}
.section [id="slide01"]:checked ~ .slidewrap .control01{
	display:block;
}
.section [id="slide02"]:checked ~ .slidewrap .control02{
	display:block;
}
.section [id="slide03"]:checked ~ .slidewrap .control03{
	display:block;
}
.res_area{
	position:absolute;
	top:385px;
	width:1100px;
	left:20%;
	z-index:10;
	background-color:white;
	padding:10px 10px 10px 10px;
}
.user_name{
	width:25%;
	float:left;
	height:60px;
	background-color:#f2f6f9;
	margin-right:10px;
	padding-left:20px;
	font-size:16px;
	line-height:60px;
}
.res_name{
	width:30%;
	float:left;
	height:60px;
	background-color:#f2f6f9;
	margin-right:10px;
	padding-left:20px;
	font-size:16px;
	line-height:60px;
}
.res_start{
	width:25%;
	float:left;
	height:60px;
	background-color:#f2f6f9;
	margin-left:0px;
	padding-left:20px;
	font-size:16px;
	line-height:60px;
}
/*슬라이드 부분 끝*/
.list{
    background: black;
    padding-top:250px;
    padding-bottom: 50px;
    color: white;
}
.top{
	position:absolute;
	width:100%;
	height:180px;
	
}

.list .container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;/*박스들 간격설정*/
}

.list .container .list_left{
    flex:1.5;
}

.list .container .list_left h2{
    font-size: 12px;
    opacity: .6;
    letter-spacing: 0.2em;
}

.list .container .list_left h1{
    margin-top: 0;
    font-size: 36px;
    letter-spacing: 0.1em;
}

.list .container .list_left p{
    font-size: 12px;
    letter-spacing: 0.2em;
    opacity: .8;
    word-wrap: break-word; 
    word-break: keep-all;
}

.serv_list{
    padding-top:70px;
    padding-bottom:70px;
}

.serv_list .container{
    max-width: 1100px;
    margin:auto;
}


.serv_list .container .title ul{
    padding-left: 0;
    list-style: none;
}

.serv_list .container .title ul li{
    display: inline; 
    margin-right: 30px;
}

.serv_list .container .title ul li a{
    text-decoration: none;
    color: #444;
}

.serv_list .container .box_list{
    display: flex;
    flex-wrap : wrap; 
    justify-content: space-between;/*이게 센터보다 더 멀리띄워놓음*/
}

.serv_list .container .box_list .box{
    border: 1px solid #eee; 
    border-radius: 5px; 
    height: 350px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
}

.serv_list .container .box_list .box img{
    height: 200px;
    width: 250px
} 

.serv_list .container .box_list .box .text p{
    font-size: 14px;
    opacity: .8;
}
.a_price{
	margin-top:10px;
	font-size:14px;
	font-weight:600;
}
.serv_list .container .box_list .box .text button{
	margin-top:20px;
    background: black;
    color:white;
    border:2px solid white; 
    border-radius:5px;
    padding:5px 10px;
    font-size:10px;
    transition: .5s ease; /*0.5second로 버튼 트렌지션 전환해줌. 여기선 흰-검순*/
}

.serv_list .container .box_list .box .text button:hover{/*이걸로 마우스 올리면 변하는효과 줌 */
    transition: .5s ease;
    border:2px solid black;
    background: transparent;
    color:black;
}

.footer_box{
	position:relative;
	width:100%;
	height:400px;
}
